{% load staticfiles %}
<html>
<head>
<title>Oficina</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
  <center>
  <div class="container" >
    <div class="row">
      </BR>
      <img src="{% static "images/logo.png" %}" alt=""/></p>
      </BR>
      <div class="col-lg-12 col-lg-offset-0">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastrar<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'novocliente' %}">Cliente</a></li>
              <li><a href="{% url 'novocarro' %}">Carro</a></li>
              <li><a href="{% url 'novoproduto' %}">Produto</a></li>
              <li><a href="{% url 'novofornecedor' %}">Fornecedor</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedidos<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'novoorcamento' %}">Orçamento</a></li>
              <li><a href="{% url 'novaordemservico' %}">Ordem de Serviço</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Estoque</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
        </ul>
        </nav>
      </div>
      <div class="col-md-4 col-md-offset-4">
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger" role="alert">
            {% else %}
              <div class="alert alert-{{ message.tags }}" role="alert">
            {% endif %}
                {{ message }}
              </div>
          {% endfor %}
        {% endif %}
        {% block errors %} {% endblock errors %}
      </div>
      <div class="col-lg-12 col-lg-offset-0">
        <div class="panel panel-info">
          <div class="panel-body" align="left">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
  </div>
  </div>
  </center>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>
