{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="page-header">
  <center>
  <h3>Cadastrar Novo Fornecedor</h3>
</center>
</div>

<form>
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.cpf_cnpj }}
    </div>
    <div class="form-group col-md-6">
      {{ form.email }}
    </div>
  </div>
  <div class="form-group col-md-12">
    {{ form.name }}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.phone_number_1 }}
    </div>
    <div class="form-group col-md-6">
      {{ form.phone_number_2 }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      {{ form.address }}
    </div>
    <div class="form-group col-md-4">
      {{ form.neighborhood }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      {{ form.city }}
    </div>
    <div class="form-group col-md-4">
      {{ form.state }}
    </div>
  </div>
  <div class="form-group col-md-4">
    {{ form.zipcode }}
  </div>
</p>
  <div align="center">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>

{% endblock content %}
