{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

<div class="page-header">
  <center>
  <h3>Cadastrar Novo Carro</h3>
</center>
</div>

<form>
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-2">
      {{ form.licenceplate }}
    </div>
    <div class="form-group col-md-2">
      {{ form.year }}
    </div>
    <div class="form-group col-md-4">
      {{ form.brand }}
    </div>
    <div class="form-group col-md-4">
      {{ form.model }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.kilometer }}
    </div>
    <div class="form-group col-md-6">
      {{ form.chassis }}
    </div>
  </div>
</p>
  <div align="center">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>

{% endblock content %}
